<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.core</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarRegistro</servlet-name>
        <servlet-class>servlets.comprobarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listas</servlet-name>
        <servlet-class>servlets.listas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarLogin</servlet-name>
        <servlet-class>servlets.comprobarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarLista</servlet-name>
        <servlet-class>servlets.insertarLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarListaPreparada</servlet-name>
        <servlet-class>servlets.guardarListaPreparada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarRegistro</servlet-name>
        <url-pattern>/comprobar-registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarLogin</servlet-name>
        <url-pattern>/comprobar-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarLista</servlet-name>
        <url-pattern>/insertarLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarListaPreparada</servlet-name>
        <url-pattern>/guardar-lista-preparada</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
