*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
}
body{
	background-image: url("../img/Aquarius.png");
}

#cuerpo{
	margin:0 auto;
	overflow: hidden;
	width: 90%;
	max-width: 400px;
}
#logo{
	background: rgba(255,255,255,0.5);
	display: block;
	width: 100%;
	padding: 13px 0px 13px 0px;
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
}
#logo h1 a{
    text-decoration: none;
}

#botones{
	background: rgba(255,255,255,0.5);
	display: block;
	width: 100%;
	padding: 13px 0px 13px 0px;
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
}

#botones a{
	background: rgba(50,50,50,0.5);
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	color: white;
	display: block;
	margin: 10px;
	padding: 15px;
        text-decoration: none;
}

#pie{
    background: rgba(50,50,50,0.7);
    display: block;
    float: right;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 500px){
	#navegacion{
		width: 100%;
	}
	#logo-menu{
		widht: 100%;
	}
}
